{% extends "admin/base.html" %}

{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Epsilon-design administration') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Epsilon-design administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}


